extends layout.pug
include utils.pug
block content
    if errors
        each error in errors
            p=error
    form(action="/restaurants/new" method="post")
        input(type="hidden" name="_csrf" value=csrfToken)
        +field('Restaurant Name:',"name", restaurant.name)
        +field('Address:',"address", restaurant.address)
        +field('Cuisine Type:',"cuisine", restaurant.cuisine)
        +field('Add Image URL:',"imgURL",restaurant.imgURL , "textarea" )
        button() Submit New Restaurant
