extends layout.pug
block content 
    form(action=`/lists/${restaurantId}/delete` method="post")
        input(type="hidden" name="_csrf" value=csrfToken)
        label(for="deleteEntry") Are you sure you want to delete? 
        input(id="deleteEntry" type="checkbox" name="deleteEntry" checked=true unchecked=false)
        button(type="submit") Submit 