extends layout.pug 
block content 

    form(action=`/lists/${restaurantId}/edit` method="post")
        input(type="hidden" name="_csrf" value=csrfToken)
        label(for="hasVisited") Have you been here before?
        input(type="checkbox" name="hasVisited" checked=true unchecked=false)
        button(type="submit") Edit List Entry