extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  h1= title
  p Welcome to your Project Skeleton
  div(class='py-4')
    button(type='submit' class='btn-btn-primary') Login
    a(href='/user/login') Login
    button(type='submit' class='btn-btn-primary') Register
    a(href='/user/register') Register
