doctype html
html
  head
      block head
        title= title
        link(rel='stylesheet' href='/stylesheets/reset.css')
  body
    header
      nav(class='navbar')
        if locals.user
          span(class='navbar-text px-4') Welcome #{user.firstName}!
            li(class='user-logout'): a(href='/users/logout') Logout
            li(class='user-list'): a(href=`/lists/${user.id}`) User List
        ul(class='nav-links')
          li(class='nav-item'): a(class='nav-link' href='/') Home
          li(class='nav-item'): a(class='nav-link' href='/restaurants') Restaurants
          li(class='nav-item'): a(class='nav-link' href='/users/login') Login
          li(class='nav-item'): a(class='nav-link' href='/users/register') Register
        span(class='search-bar-span')
          form.search-form(action="/restaurants" method='post')
            label(for='search')
            input(type='text' name='search' class='search-bar' placeholder='Search For a Restaurant')
            button(type='submit' class='search-btn') Search
        div.container-fluid
    block content
