doctype html
html
  head
      block head
        title= title

        script(src="/javascript/search.js" type='module')
        link(rel='stylesheet' href='/stylesheets/nav-bar.css')

  body
    header
      nav(class='navbar')
        a(id="food-hub-span" href="/"): span(id="food-hub" class='navbar-welcome-text') Food Hub
        ul(id="ul" class='nav-links')
        if locals.user
          li(id="home" class='nav-item'): a(class='nav-home' href='/') Home
          li(id="restaurants" class='nav-item'): a(class='nav-link' href='/restaurants') Restaurants
          li(id='user-list' class='user-list'): a(href=`/lists/${user.id}`) User List
          li(id="logout" class='user-logout'): a(href='/users/logout') Logout
        else
          li(id="home" class='nav-item'): a(class='nav-home' href='/') Home
          li(id="restaurants" class='nav-item'): a(class='nav-link' href='/restaurants') Restaurants
          li(id="login" class='nav-item'): a(class='nav-link' href='/users/login') Login
          li(id="register" class='nav-item'): a(class='nav-link' href='/users/register') Register
        span(class='search-bar-span')
          form.search-form(action="/restaurants" method='post' autocomplete='off')
            label(for='search')
            input(type='text' id='search-field' name='search' class='search-bar' placeholder='Search For a Restaurant')
            button(id="search-button" type='submit') Search

        div.container-fluid
    block content
  div(id="footer")
