doctype html
html
  head
      block head
        title= title
        link(rel='stylesheet' href='/stylesheets/reset.css')
  body
    nav#navbar-default
      div.container-fluid
        p= title
    block content
