extends layout.pug
block content

    h1(id="main-page-header") FOOD HUB
    h2(id="main-page-tagline") Get your Deets on some Eats
    div.outer-container
        .restaurant-div
        .restaurant-header-div
            h3(id="restaurant-header")= restaurants.name
        .restaurant-img-div
            img(src=`${restaurants.imgURL}`)
