extends layout.pug

block content
    div
        p Delete this review?
    div
        p Rating: #{review.rating}
        p Review: #{review.text}
    form(action=`/reviews/${reviewId}/delete`, method='post')
        button(type='submit') Delete Review
        a(href=`/`) Cancel

