extends layout.pug

block content
    table
        thead
            tr
                th Rating
                th Review
        tbody
            each review in restaurantReviews
                tr
                    td=review.rating
                    td=review.text
