extends layout.pug

block content
    table
        thead
            tr
                th Rating
                th Review
        tbody
            tr
                td=`${restaurantReviews.rating}`
                td=`${restaurantReviews.text}`
