extends layout.pug

append head
    link(rel='stylesheet' href='/stylesheets/reviews.css')

block content
    div(id="title-text-div")
        p(id="title-text")= `Delete this review?`
    div
        p Rating: #{review.rating}
        p Review: #{review.text}
    form(action=`/reviews/${reviewId}/delete`, method='post')
        button(type='submit') Delete Review
        a(href=`/`) Cancel

