extends layout.pug

block content
  
    each restaurant in restaurants 
      a(href=`/restaurants/${restaurant.id}`)
        p=restaurant.name
        p 
          a(href=`/restaurants/${restaurant.id}`)
            img(src=`${restaurant.imgURL}`)
