extends layout.pug
append head
    link(rel='stylesheet' href='/stylesheets/search-page.css')
block content
  div(id='results-container')
    each restaurant in restaurants
      a(href=`/restaurants/${restaurant.id}`)
        div(class='search-results-divs')
          img(src=`${restaurant.imgURL}`)
          p=restaurant.name
