extends layout.pug
block content
    table
        thead
            tr
                th Restaurant
                th Has Visited
        tbody
            each list in userList
                tr
                    td=list.Restaurant.name
                    td=list.hasVisited
                    a(name="edit-redirect-list" href=`/lists/${list.Restaurant.id}/edit`) Edit
