extends layout.pug
append head
    link(rel='stylesheet' href='/stylesheets/user-login.css')
    link(rel='stylesheet' href='/stylesheets/nav-bar.css')
block content
    if errors
      each error in errors
        p=error
    div(class="front")
      h1 Login
      form(action="/users/login" method="post")
        input(type="hidden" name="_csrf" value=csrfToken)
        div(class="text")
          input(type="email" name="email" placeholder="Email" user.email required)
        div(class="text")
          input(type="password" name="password" placeholder='Password' required)
        div(class='py-4')
          button(type='submit' class='login-btn') Login
          button(type='button' class='btn-cancel')
            a(href='/' class='cancel-btn') Cancel
      div
          p: a(href='/users/register') Don't have an account?
