@import url('https://fonts.googleapis.com/css2?family=Corben:wght@700&display=swap');

html, body {
    /*change opacity of bg color*/
    background-color: white;
    padding: 1rem;
}

#food-hub {
    font-family: 'Corben', cursive;
    font-size: 20px;
  }

  #food-hub-span{
    grid-area: food-hub-span;
     text-decoration: none;
     color: rgb(28,60,60);
  }

body {
    color: rgb(28,60,60);
    font-family: 'Corben', cursive;
}

.edit-list {
    border-radius: 2px;
    border-width: 0;
    font-size: 6px;
    padding: 1.5rem;
    color: white;
    background-color: rgb(224,92,44);
}

.delete-list {
    border-radius: 2px;
    border-width: 0;
    font-size: 6px;
    padding: 1.5rem;
    color: white;
    background-color: rgb(224,92,44);
}
