
  li > a {
    color: rgb(28,60,60);
    font-size: 14px;
  }

  /*
  search: hide search bar change to icon
  */

  /*the form buttons*/
  form > button {
    color: white
  }

  .search-btn {
      font-size: 8px;
      color: white;
      background-color: rgb(224,92,44);

  }

  form > input {
    font-size: 8px;
  }

  .navbar {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .search-form{
    justify-content: right;
  }

  .nav-link{
    list-style: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px
  }

  .nav-home{
    list-style: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px
  }

  li.user-logout,
  li.user-list {
    list-style: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    display: inline-block;
    padding: 0px 20px;
  }

  .nav-link li{
    list-style: none;
    display: inline-block;
    padding: 0px 20px;
  }

  form > input {
    border-radius: 3px;
    border-width: .01rem;
    font-size: 10px;
  }

  li.nav-item{
    list-style: none;

  }









.input-res{
  display: block;
  text-decoration: none;
}


  .autocomplete{
    position: relative;
    display: inline-block;
  }

  #search-id{
    position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;

  }
