@import url('https://fonts.googleapis.com/css2?family=Corben:wght@700&display=swap');

  li > a {
    color: rgb(28,60,60);
    font-size: 14px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
  }

  span {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
  }

  nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "food-hub-span home restaurants user-list logout"
    ;
    padding-bottom: 5px;
  }

  #food-hub {
    font-family: 'Corben', cursive;
    font-size: 20px;
  }

  #food-hub-span{
    grid-area: food-hub-span;
     text-decoration: none;
     color: rgb(28,60,60);
  }

  #home{
    grid-area: home;
  }

  #restaurants {
    grid-area: restaurants;
  }

  #user-list {
    grid-area: user-list;
  }

  #logout {
    grid-area: logout;
  }
  /*the form buttons*/
  form > button {
    color: white
  }

  #search-btn {
      font-size: 12px;
      color: white;
      background-color: rgb(224,92,44);
      height: 40px;
      width: 60px;
  }

  #search-field {
    height: 40px;
    width: 200px;
    margin-right: .5rem;
    padding:0 6px;
  }

  form > input {
    font-size: 12px;
  }

  .navbar {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .search-form{
    justify-content: right;
  }

  .nav-link{
    list-style: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px
  }

  .nav-home{
    list-style: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px
  }

  li.user-logout,
  li.user-list {
    list-style: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    display: inline-block;
    padding: 0px 20px;
  }

  .nav-link li{
    list-style: none;
    display: inline-block;
    padding: 0px 20px;
  }

  form > input {
    border-radius: 3px;
    border-width: .01rem;
    font-size: 10px;
  }

  li.nav-item{
    list-style: none;

  }
