body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, a, ol, li, ul, div, span,
body, nav, header {
  font-size: 1rem;
  color: inherit;
  background-color: transparent;
  margin: 0;
  padding: 0;
  outline: 0;
  font-weight: normal;  
}

h1 {
  font-size: 2rem;
}



.navbar {
  background-color: teal;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-form{
  justify-content: right
}

.nav-links{
  list-style: none;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 14px 
}

.user-logout,
.user-list {
  list-style: none;
  display: inline-block;
  padding: 0px 20px;
}

.nav-links li{
  display: inline-block;
  padding: 0px 20px;
}
