@import url('https://fonts.googleapis.com/css2?family=Corben:wght@700&display=swap');
*{
  font-family: 'Corben', cursive;
}
a{
  font-family: 'Corben', cursive;
}
body{
  background-color: rgb(251, 251, 241);
}
.outer-restaurant-container{
  box-sizing: border-box;
}
.header-div {
position: relative;

box-sizing: border-box;
}
.main-page-header {
    box-sizing: border-box;
    font-size: 45px;
    text-align: center;
}
 #main-page-tagline {
  box-sizing: border-box;
  text-align: center;
}
.cuisine-div{
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
  border: 2px solid blue;
  overflow-x: auto;
  height: 600px;
}
#cuisine-header{
  text-align: center;
  font-size: 45px;
  position: relative;
  justify-self: center;
}
.restaurant-details-div{
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr 25px 25px 25px;
    border: 2px solid orange;
  max-width: 500px;
  max-height:  500px;
}
.restaurant-img-div{

  overflow-y: hidden;
}
.restaurant-img{
  height: 300px;
  width: 350px;
  object-fit: cover;
}
#restaurant-header{
  text-align: center;
  height: 50px;
  margin-bottom: 150px;
  position: relative;
  bottom: 50px;

}
#restaurant-address{
  text-align: center;

}
/* #replace-with-stars{

}
#num-of-reviews{

} */
