@import url('https://fonts.googleapis.com/css2?family=Corben:wght@700&display=swap');
*{
  font-family: 'Corben', cursive;
}
a{
  font-family: 'Corben', cursive;
}
body{
  background-color: #fbfbf1;
}
.outer-restaurant-container{
  box-sizing: border-box;
  padding-left: 300px;
  padding-right: 300px;
}
.header-div {
position: relative;

box-sizing: border-box;
}
.main-page-header {
    box-sizing: border-box;
    font-size: 45px;
    text-align: center;
}
 #main-page-tagline {
  box-sizing: border-box;
  text-align: center;
}
.cuisine-div{
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
  border: 2px solid blue;
  overflow-x: auto;
  height: 600px;
}
#cuisine-header{
  text-align: center;
  font-size: 45px;
  position: relative;
  justify-self: center;
}
.restaurant-details-div{
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr 25px 25px 25px;
  max-width: 500px;
  max-height:  500px;
  border: springgreen;
}
.restaurant-img-div{
  box-sizing: border-box;
  grid-column: auto;
  grid-row: 0/1;
  overflow-y: hidden;
}
.restaurant-img{
  height: 300px;
  width: 350px;
  align-self:end;
  object-fit: cover;
}
#restaurant-header{
  text-align: left;
  height: 50px;
  margin-bottom: 200px;
  bottom: 50px;


}
.restaurant-address-div{
  grid-column: auto;
  grid-row-start: 1;
}
#restaurant-address{

  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;

}
/* #replace-with-stars{

}
#num-of-reviews{

} */
