@import url('https://fonts.googleapis.com/css2?family=Corben:wght@700&display=swap');
*{
  font-family: 'Corben', cursive;
}
a{
  box-sizing: border-box;
  font-family: 'Corben', cursive;
  text-decoration: none;
  color: rgb(224,92,44);
  max-height: 20px
}
body{
  background-color: white;
}
.outer-restaurant-container{
  box-sizing: border-box;
  padding-left: 275px;
  padding-right: 275px;

}
.header-div {
position: relative;
box-sizing: border-box;
}
.main-page-header {
    box-sizing: border-box;
    position: relative;
    font-size: 45px;
    text-align: center;
    color: rgb(28,60,60)
}
 #main-page-tagline {
  box-sizing: border-box;
  position: relative;
  text-align: center;
  color: rgb(28,60,60);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  bottom: 36px;
}
.cuisine-div{
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
  overflow-x: auto;
  height: 500px;
border-bottom: 1px solid rgb(28,60,60);
}
#cuisine-header{
  box-sizing: border-box;
  text-align: left;
  font-size: 35px;
  position: relative;
  justify-self: center;
  color: rgb(28,60,60);
  max-width: 300px;
}
.restaurant-details-div{
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 12rem  11% 3rem 5%;
  max-width: 500px;
  max-height:  500px;
  padding: 10px;
}
/* .restaurant-img-div{
  box-sizing: border-box;
  display: flex;
  overflow-y: hidden;

  width: 300px;
} */
.restaurant-img{
  box-sizing: border-box;
  height: 200px;
  width: 250px;
  align-self:end;
  object-fit: cover;
  overflow-x: auto;
}
#restaurant-header{
  box-sizing: border-box;
  padding-bottom: 25px;
  text-align: left;
  color: rgb(28,60,60)

}
#restaurant-address{
  box-sizing: border-box;
  padding-top: 15px;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  grid-row-start: 2 ;
  color: grey;

}
.star-rating-div{
  box-sizing: border-box;
  padding: 10px;
  justify-self:center;
}
 #num-of-reviews{
   box-sizing: border-box;
   padding: 10px;
  text-decoration: underline;
  text-align: center;
}
