#results-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10% 15%;
    gap: 5%;

}

.search-results-divs {
    width: fit-content;

    border: 2px solid rgb(28,60,60);
    border-radius: 6px;
    margin: 5%;
}

.search-results-divs img {
    width: 350px;
    height: 150px;
    object-fit: cover;
    border-radius: 6px 6px 0px 0px;
}

.search-results-divs > p {
    text-decoration: none;
    color: rgb(28,60,60);
    font-family: "Corben";
    text-align: center;
}

a {
    text-decoration: none;
}
